<div class="d-flex justify-content-center   ">
    <div class="container border p-3" style="margin-top:150px; max-width: 300px;">
        <div class="row">
            <div class="col">
                <h3 class="main-headline">
                    <strong>Dobrodosli {{loggedInUser?.firstName}}, Molimo Vas zavrsite vasu registraciju</strong>
                </h3>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col">
                <form [formGroup]="finishRegistrationForm" (ngSubmit)="finishRegistration()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Ime biznisa</label>
                        <input type="name" class="form-control" id="name" formControlName="name" required>
                        <div
                            *ngIf="finishRegistrationForm.controls['name'].invalid && finishRegistrationForm.controls['name'].touched">
                            Neispravno ime biznisa.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Broj telefona</label>
                        <input type="phoneNumber" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                            required>
                        <div
                            *ngIf="finishRegistrationForm.controls['phoneNumber'].invalid && finishRegistrationForm.controls['phoneNumber'].touched">
                            Neispravan broj telefona
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">Grad</label>
                        <input type="city" class="form-control" id="city" formControlName="city" required>
                        <div
                            *ngIf="finishRegistrationForm.controls['city'].invalid && finishRegistrationForm.controls['city'].touched">
                            Neispravan grad
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="postalCode" class="form-label">Postanski broj</label>
                        <input type="postalCode" class="form-control" id="postalCode" formControlName="postalCode"
                            required>
                        <div
                            *ngIf="finishRegistrationForm.controls['postalCode'].invalid && finishRegistrationForm.controls['postalCode'].touched">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Adresa</label>
                        <input type="address" class="form-control" id="address" formControlName="address" required>
                        <div
                            *ngIf="finishRegistrationForm.controls['address'].invalid && finishRegistrationForm.controls['address'].touched">
                            Neispravna adresa
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tip biznisa</label>
                        <select class="form-select" formControlName="type" required>
                            <option *ngFor="let type of businessTypes" [value]="type">
                                {{ type.title }}
                            </option>
                        </select>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;"
                            [disabled]="finishRegistrationForm.invalid">Prijava</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
