<div class="d-flex justify-content-center">
  <div class="container border p-3 mt-5" style="max-width: 500px;">
    <div class="row">
      <div class="col">
        <h3 class="text-center"><strong>Prijavite se</strong></h3>
        <p class="text-center">Niste registrovani? <a routerLink="/me/register">Registrujte se ovde</a></p>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
            <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="text-danger">
              Neispravan email.
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="password" class="form-label">Lozinka</label>
            <input type="password" class="form-control" id="password" formControlName="password" required>
            <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
              Lozinka mora imati najmanje 6 karaktera.
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" style="width: 100%;" [disabled]="loginForm.invalid">Prijava</button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="errorMessage" class="text-danger mt-2">
      {{ errorMessage }}
    </div>
  </div>
</div>
