<div class="container mt-4">
<!--  <h2 class="mb-3">Tipovi biznisa</h2>-->

  <div class="row">
    <div class="col">
      <div class="form-border">
        <h3>Dodajte novi tip biznisa</h3>

        <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()" class="mb-3">

          <div class="mb-3">
            <label for="title" class="form-label">Naziv:</label>
            <input id="title" type="text" class="form-control" formControlName="title">
          </div>
          <div class="mb-3">
            <label for="image" class="form-label upload-label">Dodajte sliku...
              <span class="upload-instruction">(Kliknuti)</span>
            </label>
            <input id="image" type="file" (change)="handleImageChange($event)" class="form-control upload-photo">
          </div>

          <button type="submit" class="btn btn-primary">Kreiraj novi</button>
        </form>

      </div>
    </div>

    <div class="col" *ngIf="editingBusinessTypeId !== null">
      <div class="form-border">
        <h3>Izmeni</h3>

        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
          <input type="hidden" formControlName="id">

          <div class="mb-3">
            <label for="title" class="form-label">Naziv:</label>
            <input type="text" class="form-control" formControlName="title">
          </div>
          <div class="mb-3">
            <label for="image" class="form-label upload-label">Dodajte sliku...
              <span class="upload-instruction">(Kliknuti)</span>
            </label>
            <input id="imageEdit" type="file" (change)="handleImageChange($event)" class="form-control upload-photo">
          </div>

          <button type="submit" class="btn btn-success">Sacuvaj</button>
          <button type="button" class="btn btn-secondary ms-2" (click)="editingBusinessTypeId = null">Cancel</button>
        </form>

      </div>
    </div>
  </div>

  <h2 class="mb-3">Trenutni</h2>
  <ul class="list-group">
    <li *ngFor="let businessType of businessTypes" class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-container" (click)="toggleExpand(businessType.id)">
          <span class="arrow" [class.down]="expandedBusinessTypeId === businessType.id"></span>
          {{ businessType.title }}
        </div>
        <div>
          <button class="btn btn-sm btn-outline-secondary" (click)="startEdit(businessType)">Uredi</button>
          <button class="btn btn-sm btn-outline-danger ms-2" (click)="deleteBusinessType(businessType.id)">Izbrisi</button>
        </div>
      </div>
      <div *ngIf="expandedBusinessTypeId === businessType.id" class="expanded-area">
        Prikaz na web stranici:
        <img *ngIf="businessType.imageUrl" [src]="businessType.imageUrl" alt="Image of {{ businessType.title }}" class="img-fluid">
      </div>
    </li>
  </ul>


</div>
