<div class="container mt-4 p-4">
  <!-- filtering -->
  
  <div class="search-container">
    <input type="text" class="form-control search-input" placeholder="Pretraga po nazivu usluge..." [(ngModel)]="textFilter">
    <button class="clear-btn" *ngIf="textFilter" (click)="textFilter = ''">&times;</button>
  </div>
  
  
  <div class="filter-dropdown mb-3">
    <select class="form-control" [(ngModel)]="categoryFilter">
      <option value="">Sve kategorije</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Usluga</th>
        <th scope="col">Kategorija</th>
        <th scope="col">Napomena</th>
        <th scope="col">Opis</th>
        <th scope="col">Cena</th>
        <th scope="col">Uobicajeno trajanje</th>
        <th scope="col">Komande</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let service of services | servicesFilter:textFilter:categoryFilter | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ service.name }}</td>
        <td>{{ service.category }}</td>
        <td>{{ service.note ? service.note : '-' }}</td>
        <td>{{ service.description ? service.description : '-' }}</td>
        <td>{{ service.price }}</td>
        <td>{{ service.avgDuration }}</td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="['edit', service.name]">
            Uredi
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" style="padding-top: 24px; padding-right: 10%">
    <pagination-controls (pageChange)="currentPage = $event" previousLabel="Prethodna" nextLabel="Sledeća">
    </pagination-controls>
  </div>

  <div class="p-3">
    <button type="button" class="btn btn-primary mt-3 me-3" routerLink="create">Nova usluga</button>
    <button type="button" class="btn btn-primary mt-3" routerLink="create-fast">Brzo dodavanje</button>
  </div>

</div>