<!-- Top Locations -->
<div class="my-4 pt-2">
  <h2>Najpopularnije lokacije</h2>
  <div class="row pt-2">
    <div class="col-md-4 mb-4" *ngFor="let location of topLocations">
      <div class="card bg-dark text-white">
        <img class="card-img" [src]="getCityImageUrl(location)" alt="{{ location }}" style="height: 250px; object-fit: cover;">
        <div class="card-img-overlay d-flex align-items-end custom-overlay">
          <h5 class="card-title">{{ location }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Services -->
<div class="my-4 pt-2">
  <h2>Najpopularnije usluge</h2>
  <div class="row pt-2">
    <div class="col-md-4 mb-4" *ngFor="let service of topServices">
      <div class="card flex-row align-items-center">
        <div class="flex-grow-0">
          <img class="img-fluid" [src]="getServiceImageUrl(service.name)" alt="{{ service }}" style="width: 150px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ service.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Top Categories -->
<div class="my-4 pt-2">
  <h2>Najpopularnije kategorije</h2>
  <div class="row pt-2">
    <div class="col-md-4 mb-4" *ngFor="let category of topCategories">
      <div class="card flex-row align-items-center">
        <div class="flex-grow-0">
          <img class="img-fluid" [src]="getCategoryImageUrl(category)" alt="{{ category }}" style="width: 150px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ category }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

