<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/manage-business">Pocetna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="services">Usluge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zakazivanje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zaposleni</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-light bg-light">
                <a class="navbar-brand" href="#">Logo</a>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" routerLink="profile">Biznis Profil</a>
                </div>

                <div *ngIf="this.authService.isLoggedInSubject | async" class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" (click)="logout()">Logout</a>
                </div>
                <div *ngIf="!(this.authService.isLoggedInSubject | async)"class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" routerLink="/login">Login</a>
                </div>

            </nav>

            <!-- Central Content Area -->
            <div class="central-content">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>
