<div class="container my-4">
  <h2 class="mb-3">Podaci o biznisu</h2>

  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <th scope="row">Naziv</th>
      <td>{{ business?.name }}</td>
    </tr>
    <tr>
      <th scope="row">Tip biznisa</th>
      <td>todo maybe</td>
    </tr>
    <tr>
      <th scope="row">Telefon</th>
      <td>{{ business?.phoneNumber }}</td>
    </tr>
    <tr>
      <th scope="row">Grad</th>
      <td>{{ business?.city }}</td>
    </tr>
    <tr>
      <th scope="row">Poštanski kod</th>
      <td>{{ business?.postalCode }}</td>
    </tr>
    <tr>
      <th scope="row">Adresa</th>
      <td>{{ business?.address }}</td>
    </tr>
    <tr>
      <th scope="row">Vlasnik</th>
      <td>maybe todo</td>
    </tr>
    </tbody>
  </table>

  <app-business-profile-image-management
    [profileImageUrl]="currentProfileImageUrl"
    (submitImage)="submitImage($event)">
  </app-business-profile-image-management>

  <div class="mt-5 pt-3" style="border: 1px solid">
    <app-search-category-list
      [categories]="existingPredefinedCategories"
      [businessTypes]="businessTypes"
    ></app-search-category-list>
  </div>

  <div class="mt-5 pt-3 pb-3" style="border: 1px solid">
    <app-add-search-category
      [businessTypes]="businessTypes"
      [categories]="categories"
      (selectedCategoriesEmitter)="saveSelectedCategories($event)"
    >
    </app-add-search-category>
  </div>

</div>
