.nav {
  flex-direction: column; /* Stack items vertically */
}

.nav-item {
  width: 100%; /* Make items take up full available width */
}

.pricing-header {
  border: 0.1rem solid #ddd;
  padding: 10px 15px;
  border-radius: 0.5rem;
}

.pricing-header-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.pricing-header-subtitle {
  font-size: 1.5rem;
  color: orangered;
}

.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Makes the icon non-interactive */
  color: #555;
}

.clear-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  color: #555;
  font-size: 20px;
}

.search-input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Style for the dropdown container */
.filter-dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown button */
.filter-dropdown select {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 35px 10px 15px;
  -webkit-appearance: none; /* Removes default chrome and safari style */
  -moz-appearance: none; /* Removes default style Firefox */
  appearance: none; /* Remove default arrow */
  background-color: white;
  cursor: pointer;
}

/* Style for the dropdown arrow */
.filter-dropdown:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style when the dropdown is focused */
.filter-dropdown select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Subcategory Navigation Tabs */
.sticky-subcategories {
  width: 250px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  border: 1px solid #ddd;
}

.sticky-subcategories .nav-item {
  width: 100%;            /* Occupy entire width */
  border-bottom: 1px solid #ddd; /* Add a subtle line separator */
  padding: 10px 10px;       /* Some padding for visual space */
  color: black;
  text-align: left;    /* Center the text */
}

/* Optional: Styling for the last item  */
.sticky-subcategories .nav-item:last-child {
  border-bottom: none;    /* Remove the bottom border on the last item */
}

/*hover over just simple white hand*/
.sticky-subcategories .nav-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}


.service-entry {
  border-bottom: 1px solid #e0e0e0; /* Subtle separator */
  padding: 15px 0;
}

.duration {
  display: block; /* Place duration on its own line */
  color: #777; /* Slightly muted color */
}

.price {
  font-weight: bold;
}

.service-description {
  margin-top: 0.5em;
}


