
.status-button {
  color: #fff;
}

.status-scheduled {
  background-color: blue;
}

.status-confirmed {
  background-color: green;
}

.status-cancelled {
  background-color: red;
  color: white; /* Ensure text is readable on red background */
  border: none; /* Optional: Remove border for flat disabled look */
  cursor: not-allowed; /* Change cursor to indicate not clickable */
  opacity: 0.7; /* Optional: Reduce opacity to enhance disabled appearance */
}


.status-no_show {
  background-color: purple;
  color: white; /* Ensure text is readable on red background */
  border: none; /* Optional: Remove border for flat disabled look */
  cursor: not-allowed; /* Change cursor to indicate not clickable */
  opacity: 0.7; /* Optional: Reduce opacity to enhance disabled appearance */
}

.status-options {
  margin-top: 10px; /* Adjust space between the main status button and the row of option buttons */
}

.status-option-button {
  margin-right: 5px; /* Space between buttons */
  cursor: pointer; /* Ensures the cursor changes to a pointer on hover */
}

.status-option-button:hover {
  background-color: #e2e6ea; /* Lighter shade on hover for feedback */
}
