<div class="p-2" style="background-color: #3498db;">
    <app-navbar></app-navbar>
</div>

<div class="container business-profile">

    <!-- Business Name and Divider -->
    <div class="text-center my-4">
        <h1 class="business-name">{{ business.name }}</h1>
        <hr class="divider">
    </div>


    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2 class="section-title">Our Services</h2>
            <div *ngFor="let subCategory of getSubCategoryKeys()" class="sub-category-section">
                <h3 class="sub-category-title">{{ subCategory }}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let service of servicesGroupedBySubCategory[subCategory]">
                        {{ service.name }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn book-now-btn" (click)="navigateToBooking()">Book a Service</button>
        </div>
    </div>


    <!-- Contact Us Section -->
    <!-- ... [Your existing contact form code] ... -->

</div>