<div class="container" style="padding: 50px;">
    <div class="row">

        <div class="col-md">
            <div class="row">
                <h1 class="main-headline">
                    <strong>Izlistajte vas biznis</strong>
                </h1>
            </div>
            <div class="row"></div>
            <h4 class="main-subheadline">
                Besplatno je i traje 5 minuta!
            </h4>
        </div>

        <div class="col-md" style="border: 1px solid;">
            <div style="margin: 20px; padding: 20px">
                <h3>Kako funkcionise?</h3>
                <ul>
                    <li>Unesite podatke o vasem biznisu</li>
                    <li>Nas tim ce to verifikovati</li>
                    <li>Vas profil je pusten u rad. Spremni ste da primate rezervacije</li>
                </ul>
                <button class="btn btn-primary" style="width: 100%;" (click)="openSignUpDialog()">Zapocnite</button>
                <div style="padding-top: 7px;">
                    <span>Vec imate nalog?</span><span style="padding-left: 5px;"><a routerLink="/login">Ulogujte
                            se</a></span>
                </div>
            </div>
        </div>

    </div>
</div>
