.btn-arrow {
  color: #000;
  /* Black color for the arrow */
  font-size: 20px;
}

.btn-arrow:hover {
  background-color: #e9ecef;
  /* Light grey background for hover effect */
}

.month-navigation h2 {
  font-size: 1.5rem;
  /* Smaller month label */
}

.week-days {
  display: flex;
  gap: 5px;
  padding: 1rem;
  /* Reduce space between circles */
}

.day-circle {
  width: 60px;
  /* Circle size */
  height: 60px;
  /* Circle size */
  line-height: 60px;
  /* Line height for vertical centering */
  border: 2px solid #000;
  /* Black border */
  background-color: #fff;
  /* White background */
  color: #000;
  /* Black text color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* This makes the element a circle */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.day-circle:hover {
  transform: scale(1.05);
  /* Slightly scale up on hover */
}

/* Selected day */
.day-circle.selected {
  background-color: #007bff;
  /* Distinct background color for selected day */
  color: #fff;
  /* White text color for selected day */
  border-color: #007bff;
  /* Border color to match background */
}

.day-circle.crossed-out {
  text-decoration: line-through;
  background-color: #dee2e6;
  cursor: default;
}

.day-label {
  font-size: 1rem;
  margin: 10px 0 0 0;
  color: #6c757d;
}

.day-number {
  font-size: 1.25rem;
  font-weight: bold;
}

.time-slot-card {
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.3s ease;
}

.time-slot-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.time-slot-card .card-body {
  text-align: center;
  font-weight: bold;
}

.col-lg-7 {
  padding-right: 40px;
}

.col-lg-5 {
  padding-top: 30px;
  padding-left: 40px;
}

@media (max-width: 576px) {
  .week-days .day-circle {
    width: 40px;
    /* Even smaller width for very compact layout */
    height: 40px;
    /* Even smaller height for very compact layout */
    line-height: 40px;
    /* Adjust line height to match the new size */
    font-size: 0.7rem;
    /* Smaller font size for the day label */
  }

  .week-days .day-number {
    font-size: 0.9rem;
    /* Smaller font size for the day number */
  }

}

@media (max-width: 991px) {
  .col-lg-7,
  .col-lg-5 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
