<div class="business-types-header">
    <h2>Business Types</h2>
</div>

<div class="card-container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let type of businessTypes">
            <div class="card">
                <div class="position-relative business-type-item">
                    <img [src]="type.imageUrl" class="card-img-top" alt="{{ type.title }}">
                    <div class="overlay-text">{{ type.title }}</div>
                </div>
            </div>
        </div>
    </div>
</div>