<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 order-md-1">
      <div class="card">
        <img class="card-img-top img-fluid" [src]="'http://localhost:8080/images/' + business?.profileImageUrl"/>
      </div>
    </div>
    <div class="col-md-6 order-md-2">
      <div class="card-body">
        <h5 class="card-title">{{business?.name}}</h5>
        <p class="card-text">{{business?.address}}</p>
        <p>Rating: 4.9 (148 reviews)</p>
        <p>Book now! Last appointment booked 4 hours ago.</p>
        <p>Open today until 8:00 PM. Tomorrow 10:00 AM - 8:00 PM. Accepts credit cards.</p>
      </div>
    </div>
  </div>
</div>
