<div class="form-border">
  <h3>Dodajte novi tip biznisa</h3>

  <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()" class="mb-3">

    <div class="mb-3">
      <label for="title" class="form-label">Naziv:</label>
      <input id="title" type="text" class="form-control" formControlName="title">
    </div>
    <div class="mb-3">
      <label for="image" class="form-label upload-label">Dodajte sliku...
        <span class="upload-instruction">(Kliknuti)</span>
      </label>
      <input id="image" type="file" (change)="handleImageChange($event)" class="form-control upload-photo">
    </div>

    <button type="submit" class="btn btn-primary">Kreiraj novi</button>
  </form>

</div>
