html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Common Base Styles */
.card {
    transition: box-shadow .3s;
    border-radius: 10px;
    overflow: hidden;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform .3s;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.card-body h5 {
    font-weight: bold;
}

/* Common Button Style */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color .3s, border-color .3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/*----------------------------------------------*/


/*!* Ensures the body takes up the full viewport height *!*/
/*body, html {*/
/*  height: 100%;*/
/*  margin: 0;*/
/*}*/

/*!* Main app component styling *!*/
/*app-root, .d-flex {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*}*/

/*main {*/
/*  flex: 1; !* Allows the main content to expand *!*/
/*}*/

